#-----------------------------------------------------------
# .browserslistrc
#
# 案件ごとに保証するブラウザを設定する
# 詳細は https://github.com/ai/browserslist を参照のこと
#-----------------------------------------------------------

#-----------------------------------------------------------
# 標準保証ブラウザ
#
# iOS / Android の「1世代前〜最新」を満たすため、
# 「last 1 versions」ではなく「2」とする
#-----------------------------------------------------------

last 2 versions
not dead
not IE 11


#-----------------------------------------------------------
# 有償保証ブラウザ
#
# 有効にする場合は行頭の「#」をはずす
#-----------------------------------------------------------

# ie 10
# ie 9

# safari 10
# safari 9

# ios 10
# ios 9
