// ---------------------------------------------
//   import partial
//----------------------------------------------
@use 'sass:math';
@use '../../index' as *;
/* ---------------------------------------------
*   c-table
--------------------------------------------- */
/*  c-table-01
--------------------------------------------- */
.c-table-01 {
  $host: &;

    &__tr {
      border-bottom: 1px dashed #000;
      &:first-of-type {
        border-top: 1px dashed #000;
      }
    }

    &__th,
    &__td {
        padding: 0.5em;
    }
}

/*  c-table-dl-01
--------------------------------------------- */
.c-table-dl-01 {
  $host: &;
  display: grid;
  grid-template-columns: 150px 1fr;

  &__dt {
    padding: 0.3em;
  }

  &__dd {
    padding: 0.3em;
  }
}
