// PC/SPの2種類のレイアウトの区別で要素の出しわけが必要な場合と、
// PC/TB/SPの3種類のレイアウトで区別で要素の出しわけが必要な場合とで、
// 使用するスタイルを変更する
// 使用しないスタイルは、CSSに出力されないよう「//」(ダブルスラッシュ)で
// コメントアウトする
@use '../../index' as *;
// ---------------------------------------------
//   PC/SP レスポンシブの出しわけスタイル
//----------------------------------------------
@media print and (min-width: #{($breakpoint-sp + 1)}px), screen and (min-width: #{($breakpoint-sp + 1)}px) {
    .pc-hide {
        display: none !important;
    }
}
@media print and (max-width: #{$breakpoint-sp}px), screen and (max-width: #{$breakpoint-sp}px) {
    .sp-hide {
        display: none !important;
    }
}

// ---------------------------------------------
// PC/TB/SP レスポンシブの出しわけスタイル（上記は削除すること）
//----------------------------------------------
// @media print and (min-width: #{($breakpoint-tb + 1)}px), screen and (min-width: #{($breakpoint-tb + 1)}px) {
//     .pc-hide {
//         display: none !important;
//     }
// }
// @media print and (min-width: #{($breakpoint-sp + 1)}px) and (max-width: #{$breakpoint-tb}px), screen and (min-width: #{($breakpoint-sp + 1)}px) and (max-width: #{$breakpoint-tb}px) {
//     .tb-hide {
//         display: none !important;
//     }
// }
// @media print and (max-width: #{$breakpoint-sp}px), screen and (max-width: #{$breakpoint-sp}px) {
//     .sp-hide {
//         display: none !important;
//     }
// }

/* ---------------------------------------------
*   margin-top
--------------------------------------------- */
@for $i from 0 through 50 {
    @if $i == 0 {
        .mgt-pc--0 {
            margin-top: 0 !important;
        }
    } @else {
        .mgt-pc--#{$i * 5} {
            margin-top: #{$i * 5}px !important;
        }
    }
}
@media screen and (max-width: #{$breakpoint-sp}px) {
    @for $i from 0 through 50 {
        @if $i == 0 {
            .mgt-sp--0 {
                margin-top: 0 !important;
            }
        } @else {
            .mgt-sp--#{$i * 5} {
                margin-top: pxtovw($i * 5, 'sp') !important;
            }
        }
    }
}

/* ---------------------------------------------
*   margin-bottom
--------------------------------------------- */
@for $i from 0 through 50 {
    @if $i == 0 {
        .mgb-pc--0 {
            margin-bottom: 0 !important;
        }
    } @else {
        .mgb-pc--#{$i * 5} {
            margin-bottom: #{$i * 5}px !important;
        }
    }
}
@media screen and (max-width: #{$breakpoint-sp}px) {
    @for $i from 0 through 50 {
        @if $i == 0 {
            .mgb-sp--0 {
                margin-bottom: 0 !important;
            }
        } @else {
            .mgb-sp--#{$i * 5} {
                margin-bottom: pxtovw($i * 5, 'sp') !important;
            }
        }
    }
}

/* ---------------------------------------------
*   text-align
--------------------------------------------- */
.txt-al-center {
    text-align: center !important;
}

.txt-al-right {
    text-align: right !important;
}

.txt-al-left {
    text-align: left !important;
}
